.storage-creator-container {
    height: 70vh;
    width: 300px;
    margin: 120px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-image: url('/assets/images/manucika.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(102, 85, 7);
    /* Optional for better contrast */
}

.form-controls {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3;
}