<div class="storage-creator-container">
  <h2>Create a New Storage</h2>

  <div class="form-controls">
    <input
      type="text"
      id="storageName"
      [(ngModel)]="storageName"
      placeholder="Enter storage name"
    />

    <input
      type="text"
      id="creatorName"
      [(ngModel)]="creatorName"
      (keydown.enter)="addStorage()"
      placeholder="Enter creator name"
    />

    <button (click)="addStorage()">Add Storage</button>
    <button (click)="toStorages()">To Storages</button>
  </div>
</div>
